@import "tailwindcss";

/* ตั้งค่าสีธีม Creamy & White ที่นี่แทนไฟล์ config */
@theme {
  --color-cream-50: #FDFBF7;
  --color-cream-100: #F6F1E9;
  --color-cream-200: #EAE0D5;
  --color-cream-800: #5C5446;
}

body {
  background-color: var(--color-cream-50);
  color: var(--color-cream-800);
  font-family: sans-serif;
}